{% include "header_meta.html" %}

<body>
  <div class="aw-top-menu-wrap">
    <div class="container">
      <!-- logo -->
      <div class="aw-logo hidden-xs">
        <a href="/"></a>
      </div>
      <!-- end logo -->
      <!-- 搜索框 -->
      <div class="aw-search-box  hidden-xs hidden-sm">
        <form action="/s/" class="navbar-search" id="global_search_form" method="post">
          <input autocomplete="off" class="form-control search-query" id="aw-search-query" name="q" placeholder="搜索问题、话题或人" type="text"/>
          <span id="global_search_btns" onClick="$('#global_search_form').submit();" title="搜索">
            <i class="icon icon-search"></i>
          </span>
          <div class="aw-dropdown">
            <div class="mod-body">
              <p class="title">输入关键字进行搜索</p>
              <ul class="aw-dropdown-list hide"></ul>
              <p class="search">
                <span>搜索:</span>
                <a onClick="$('#global_search_form').submit();"></a>
              </p>
            </div>
            <div class="mod-footer">
              <a class="pull-right btn btn-mini btn-success publish" href="{% if sys.Cs.QuickPublish and uid %}javascript:;{% else %}publish{% endif %}" onClick="$('#header_publish').click();">发起问题</a>
            </div>
          </div>
        </form>
      </div>
      <!-- end 搜索框 -->
      <!-- 导航 -->
      <div class="aw-top-nav navbar">
        <div class="navbar-header">
          <button class="navbar-toggle pull-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            {% if uid %}
            <li>
              <a href="home/" class="{% if app == "home" %}active{% endif %}">
                <i class="icon icon-home"></i>
                动态</a>
            </li>
            {% endif %}
            <li>
              <a href="/" class="{% if app == "explore" %} active {% endif %}" >
                <i class="icon icon-list"></i>发现</a>
            </li>
            <li>
              <a  href="t/" class="{% if app == "topic" %}active{% endif %}">
                <i class="icon icon-topic"></i>话题</a>
            </li>
            {% if uid %}
            <li>
              <a href="n/" class="{% if app == "notifications" %} active {% endif %}">
                <i class="icon icon-bell"></i>通知</a>
              <span class="badge badge-important" id="notifications_unread" style="display:none">{{ u.NotificationUnread }}</span>
              <div class="aw-dropdown pull-right hidden-xs">
                <div class="mod-body">
                  <ul id="header_notification_list"></ul>
                </div>
                <div class="mod-footer">
                  <a href="notifications/">查看全部</a>
                </div>
              </div>
            </li>
            {% endif %}
            {% if sys.Cs.EnableHelp %}
            <li>
              <a href="help/" class="{% if app == "help" %} active {% endif %}">
                <i class="icon icon-bulb"></i>帮助</a>
            </li>
            {% endif %}
            <li>
              <a style="font-weight:bold;">· · ·</a>
              <div class="dropdown-list pull-right">
                <ul id="extensions-nav-list"></ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <!-- end 导航 -->
      <!-- 用户栏 -->
      <div class="aw-user-nav">
        <!-- 登陆&注册栏 -->
        {% if uid %}
        <a class="aw-user-nav-dropdown" href="people/{{u.UrlToken}}">
          <img alt="{{u.UserName}}" src=""/>
          {% if u.InboxUnread %}
          <span class="badge badge-important">{{u.InboxUnread}}</span>
          {% endif %}

        </a>
        <div class="aw-dropdown dropdown-list pull-right">
          <ul class="aw-dropdown-list">
            <li>
              <a href="inbox/">
                <i class="icon icon-inbox"></i>私信
                <span class="badge badge-important hide" id="inbox_unread">0</span>
              </a>
            </li>
            <li class="hidden-xs">
              <a href="account/setting/profile/">
                <i class="icon icon-setting"></i>设置</a>
            </li>
            {% if u.Permission.IsAdministortar or u.permission.IsModerator %}
            <li class="hidden-xs">
              <a href="admin/">
                <i class="icon icon-job"></i>管理</a>
            </li>
            {% endif %}
            <li>
              <a href="a/signout/">
                <i class="icon icon-logout"></i>退出</a>
            </li>
          </ul>
        </div>
        {% else %}
        <a class="login btn btn-normal btn-primary" href="a/signin/">登录</a>
        {% if sys.Ra.RegisterType == 0 %}
        <a class="register btn btn-normal btn-success" href="a/signup/">注册</a>
        {% endif %}
        {% endif %}
        <!-- end 登陆&注册栏 -->
      </div>
      <!-- end 用户栏 -->
      <!-- 发起 -->
      {% if uid %}
      <div class="aw-publish-btn">
        <a href="publish/" id="header_publish" <i class="icon icon-ask"></i>发起</a>
        <div class="dropdown-list pull-right">
          <ul>
            <li>
              <form action="publish/" method="post">
                {% if t.TopicTitle %}
                <input name="topics[]" type="hidden" value="{{t.TopicTitle}}"/>
                {% endif %}
                <a onclick="$(this).parents('form').submit();">问题</a>
              </form>
            </li>
            {% if u.Permission.PublishArticle %}
            <li>
              <form action="publish/article/" method="post">
                {% if t.TopicTitle %}
                <input name="topics[]" type="hidden" value="{{t.TopicTitle}}"/>
                {% endif %}
                <a onclick="$(this).parents('form').submit();">文章</a>
              </form>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}
      <!-- end 发起 -->
    </div>
  </div>
  {% if uid and u.Email and !u.ValidEmail and sys.Ra.RegisterValidType != 0 %}
  <div class="aw-email-verify">
    <div class="container text-center">
      你的邮箱 %s 还未验证,
      <a onclick="AWS.ajax_request(\'/api/account/sendvalidmail/\');">点击这里重新发送验证邮件</a>',
      {{u.Email}}
    </div>
  </div>
  {% endif %}
